<main class="w-full h-[85vh] flex justify-center items-center">
  <form
    class="w-[661px] h-[465px] bg-[#FFFFFF] p-8 rounded-[20px]"
    method="post"
  >
    <h1 class="text-4xl font-bold mb-3 text-[#014F41]">Registro de usuario</h1>
    <div class="flex justify-center items-center gap-4 mt-3">
      <fieldset class="flex flex-column gap-1">
        <label for="id_usuario" class="text-base text-black"> Identificacion </label>
        <input
          [(ngModel)]="persona.idUsuario"
          id="id_usuario"
          name="id_usuario"
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          type="text"
          placeholder="cc"
          required
        />

        <label for="nombre" class="text-base text-black">Primer nombre</label>
        <input
          [(ngModel)]="persona.nombre1"
          id="nombre"
          name="nombre"
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          type="text"
          placeholder="Ingrese el primer nombre"
          required
        />

        <label for="nombre2" class="text-base text-black">Segundo nombre</label>
        <input
          [(ngModel)]="persona.nombre2"
          id="nombre2"
          name="nombre2"
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          placeholder="Ingrese el segundo nombre"
          type="text"
        />
      </fieldset>

      <fieldset class="flex flex-column gap-1">
        <label for="apellido" class="text-base text-black">Primer apellido</label>
        <input
          [(ngModel)]="persona.apellido1"
          id="apellido"
          name="apellido"
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          type="text"
          placeholder="Ingrese el primer apellido"
          required
        />

        <label for="apellido2" class="text-base text-black">Segundo apellido</label>
        <input
          [(ngModel)]="persona.apellido2"
          id="apellido2"
          name="apellido2"
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          placeholder="Ingrese el segundo apellido"
          type="text"
        />

        <label for="correo" class="text-base text-black">Correo electronico</label>
        <input
          [(ngModel)]="persona.correo"
          id="correo"
          name="correo"
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          type="email"
          placeholder="Ingrese su correo"
          required
        />
      </fieldset>
    </div>

    <fieldset class="flex items-center flex-column mt-3 gap-3">
      <label for="id_equipo" class="text-base text-black">
        Equipo
        <select
          class="rounded-lg border w-[514px] h-[32px] p-1 cursor-pointer"
          name="id_equipo"
          id="id_equipo"
          [(ngModel)]="persona.idEquipo"
        >
          <option *ngFor="let equipo of verequipo" [value]="equipo.idEquipo">
            {{ equipo.nombre_equipo }}
          </option>
        </select></label
      >

      <label for="id_rol" class="text-base text-black">
        Rol
        <select
          class="rounded-lg border w-[540px] h-[32px] p-1"
          name="id_rol"
          id="id_rol"
          [(ngModel)]="persona.idRol"
        >
          <option *ngFor="let rol of verroles" [value]="rol.id_rol">
            {{ rol.nombre_rol }}
          </option>
        </select></label
      >
    </fieldset>

    <div class="flex justify-evenly mt-3">
      <button
        class="text-xl text-white bg-[#00214D] w-[210px] h-[26] rounded-lg p-2"
        (click)="changeState()"
      >
        Cancelar
      </button>

      <button
        class="text-xl text-white bg-[#014F41] w-[210px] h-[26] rounded-lg p-2"
        (click)="addUser()"
      >
        Registrar
      </button>
    </div>
  </form>
</main>
