<main class="flex justify-center items-center w-full h-[100vh]">
  <form class="bg-[#FBFCF1] p-8  rounded-[20px]">
    <h1 class="text-4xl font-bold mb-3 text-[#014F41]">Modificar usuario</h1>

    <div class="flex justify-center items-center gap-4 mt-3">
      <fieldset class="flex flex-column gap-1 mt-2">
        <label for="identificacion" class="text-base text-black">
          Identificacion
        </label>
        <input
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          type="text"
          id="identificacion"
          name="identificacion"
          placeholder="cc"
          [(ngModel)]="persona.id_usuario"
        />
        <label for="nombre" class="text-base text-black"> Primer Nombre </label>
        <input
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          type="text"
          id="nombre"
          name="nombre"
          placeholder="Ingrese el primer nombre"
          [(ngModel)]="persona.nombre1"
        />
        <label for="nombre2" class="text-base text-black">
          Segundo Nombre
        </label>
        <input
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          id="nombre2"
          type="text"
          name="nombre2"
          placeholder="Ingrese el segundo nombre"
          [(ngModel)]="persona.nombre2"
        />
      </fieldset>

      <fieldset class="flex flex-column gap-1 mt-2">
        <label for="apellido" class="text-base text-black">
          Primer Apellido
        </label>
        <input
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          type="text"
          id="apellido"
          name="apellido"
          placeholder="Ingrese el primer apellido"
          [(ngModel)]="persona.apellido1"
        />
        <label for="apellido2" class="text-base text-black">
          Segundo Apellido
        </label>
        <input
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          type="text"
          id="apellido2"
          name="apellido2"
          placeholder="Ingrese el segundo apellido"
          [(ngModel)]="persona.apellido2"
        />
        <label for="correo" class="text-base text-black"> Correo </label>
        <input
          class="w-[271px] h-[35px] p-2 rounded-lg border"
          type="text"
          id="correo"
          name="correo"
          placeholder="Ingrese su correo"
          [(ngModel)]="persona.correo"
        />
      </fieldset>
    </div>

    <div class="flex flex-col gap-1">
      <label for="equipo" class="text-base text-black mt-3">
        Equipo
        <select
          class="rounded-lg border w-[514px] h-[32px] p-1 cursor-pointer"
          name="id_equipo"
          [(ngModel)]="persona.idEquipo.id_equipo"
        >
          <option *ngFor="let equipo of verequipo" [value]="equipo.id_equipo">
            {{ equipo.nombre_equipo }}
          </option>
        </select>
      </label>

      <label for="estado" class="text-base text-black mt-3">
        Estado
        <select
          class="rounded-lg border w-[514px] h-[32px] p-1 cursor-pointer"
          id="id_estado"
          name="id_estado"
          [(ngModel)]="persona.idEstado.id_estado"
        >
          <option *ngFor="let equipo of verestado" [value]="persona.idEstado.id_estado">
            {{ equipo.nombre_estado }}
          </option>
        </select>
      </label>
    </div>


    <div class="flex justify-evenly mt-3">
      <button
        class="text-xl text-white bg-[#00214D] w-[210px] h-[26] rounded-lg p-2"
        (click)="closeMU()"
      >
        Cancelar
      </button>
      <button
        class="text-xl text-white bg-[#014F41] w-[210px] h-[26] rounded-lg p-2"
        (click)="mod()"
      >
        Modificar
      </button>
    </div>
  </form>
</main>
