<main class="bg-[#FBFCF1] bg-opacity-[0.5] w-full h-[100vh] p-9">
  <div class="w-full h-full overflow-y-auto px-2 text-center rounded-lg">
    <table class="w-full h-4 text-2xl bg-white overflow-hidden rounded-lg">
      <thead class="text-center text-lg h-4">
        <th class="p-3">Id</th>
        <th class="p-3">Nombre</th>
        <th class="p-3">Apellido</th>
        <th class="p-3">Correo</th>
        <th class="p-3">Estado</th>
        <th class="p-3">Rol</th>
        <th class="p-3">Equipo</th>
      </thead>
      <tbody>
        <tr
          *ngFor="let persona of lstpersonas"
          (click)="this.personaSelect = persona"
          [ngClass]="{ seleccionado: personaSelect == persona }"
        >
          <td class="p-3">{{ persona.id_usuario }}</td>
          <td class="p-3">{{ persona.nombre1 }}</td>
          <td class="p-3">{{ persona.apellido1 }}</td>
          <td class="p-3">{{ persona.correo }}</td>
          <td class="p-3">{{ persona.nombre }}</td>
          <td class="p-3">{{ persona.rol }}</td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2 flex justify-evenly items-center">
      <button
        class="text-white bg-[#1e512c] w-[200px] rounded-lg p-2"
        (click)="addUser()"
      >
        Agregar
      </button>

      <button
        class="text-white bg-[#1e512c] w-[200px] rounded-lg p-2"
        [disabled]="personaSelect.nombre1 == '' ? true : false"
        (click)="modPersona()"
      >
        Modificar
      </button>
    </div>
  </div>
</main>

<style>
  td,
  th {
    border-bottom: 1px solid #000;
  }

  .seleccionado {
    border: 4px solid green;
    background-color: green;
  }
</style>
