<main id="main-div">
  <article>
    <section>
      <div class="camp-buscar">
        <input type="text" placeholder="Buscar persona" />
      </div>
      <div class="con-table">
        <table>
          <thead>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>State</th>
            <th>Role</th>
            <th>Team</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let persona of lstpersonas"
              (click)="this.personaSelect = persona"
              [ngClass]="{ seleccionado: personaSelect == persona }"
            >
              <td>{{ persona.id_usuario }}</td>
              <td>{{ persona.nombre1 }}</td>
              <td>{{ persona.apellido1 }}</td>
              <td>{{ persona.correo }}</td>
              <td>{{ persona.nombre }}</td>
              <td>{{ persona.rol }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn">
        <button
          [disabled]="personaSelect.nombre1 == '' ? true : false"
          (click)="modPersona()"
        >
          Modificar
        </button>

        <button (click)="addUser()">
          Agregar
        </button>
      </div>
    </section>
  </article>
</main>
