.field-select select {
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 1.25em;
  width: 12.5em;
  margin-left: 5px;
  padding: 3px;
}

.field-select label{
  font-size: 1.25em;
  margin-left: 0.313em;
}

.field-input{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

fieldset label{
  font-size: 20px;
  margin-left: 5px;
}

.field-input input{
  margin-left: 5px;
}

.form-input {
  font-size: 18px;
  width: 300px;
  border: 1px solid #000;
  border-radius: 0.438em;
  padding: 2px;
  background-color: rgb(251, 252, 241);
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: auto 1.563em;
}
