<main class="w-full h-[100vh] flex items-center justify-center">
  <div>
    <form
      class="m-0 w-full h-full text-center bg-[#FBFBF1] p-3 text-base rounded-lg"
      (ngSubmit)="addPersona()"
      method="post"
    >
      <h1 class="text-center">Register</h1>

      <fieldset class="field-select">
        <label for=""> Team </label>
        <select name="id_equipo" id="id_equipo" [(ngModel)]="persona.equipo">
          <option *ngFor="let equipo of verequipo" [value]="equipo.id_equipo">
            {{ equipo.nombre }}
          </option>
        </select>

        <label for=""> Role </label>
        <select name="id_rol" id="id_rol" [(ngModel)]="persona.rol">
          <option *ngFor="let rol of verroles" [value]="rol.id_rol">
            {{ rol.nombre }}
          </option>
        </select>
      </fieldset>

      <fieldset class="field-input">
        <label>N° Id </label>
        <input
          [(ngModel)]="persona.id_usuario"
          name="id_usuario"
          class="form-input input-text"
          type="text"
          required
        />

        <label>First name</label>
        <input
          [(ngModel)]="persona.nombre1"
          name="nombre"
          class="form-input input-text"
          type="text"
          required
        />

        <label>Second name</label>
        <input
          [(ngModel)]="persona.nombre2"
          name="nombre2"
          class="form-input input-text"
          type="text"
        />

        <label>Last name</label>
        <input
          [(ngModel)]="persona.apellido1"
          name="apellido"
          class="form-input input-text"
          type="text"
          required
        />

        <label>Second last name</label>
        <input
          [(ngModel)]="persona.apellido2"
          name="apellido2"
          class="form-input input-text"
          type="text"
        />

        <label>Email</label>
        <input
          [(ngModel)]="persona.correo"
          name="correo"
          class="form-input input-email"
          type="email"
          required
        />
      </fieldset>
      <input
        class="text-xl text-white bg-[#1e512c] p-1 w-[200px] rounded-lg mt-2"
        type="submit"
        value="Register"
      />
    </form>
  </div>
</main>

<style>
  .input-text {
    background-image: url(../../../../assets/icon/User.svg);
  }

  .input-email {
    background-image: url(../../../../assets/icon/Email.svg);
  }


  .input-pass {
    background-image: url(../../../../assets/icon/PassShow.svg);
  }
</style>
