<div class="w-full h-[85vh] flex justify-center items-center">
  <div
    class="w-[661px]  bg-[#FFFFFF] p-8 rounded-[20px]"
  >
    <form action="post">
      <h1 class="text-4xl font-bold mb-3 text-[#014F41]">
        Registro de ordenes
      </h1>

      <h2 class="text-2xl ">Número de referencia de la orden: {{ modorden.idOrder }}</h2>

      <!-- <fieldset class="flex justify-around">
        <label class="text-base text-black"
          >Administrativo adscrito:
          <input name="id_usuario" [(ngModel)]="modorden.idUser" type="text" />
        </label>
      </fieldset> -->

      <fieldset class="flex flex-column mt-3">
        <legend class="text-black text-lg">Descripcion de la orden</legend>
        <textarea
          class="p-2 rounded-[3px] border"
          name="descripcion"
          id="descripcion"
          [(ngModel)]="modorden.description"
          cols="30"
          rows="3"
        ></textarea>
      </fieldset>
    </form>

    <div class="flex justify-evenly mt-3">
      <button
        class="text-xl text-white bg-[#00214D] w-[210px] h-[26] rounded-lg p-2"
        (click)="cerrar()"
      >
        Cancelar
      </button>

      <button
        class="text-xl text-white bg-[#014F41] w-[210px] h-[26] rounded-lg p-2"
        (click)="agregar()"
      >
        Enviar
      </button>
      <!-- <button class="btn-crud" (click)="actualizar()">Modificar Orden</button> -->
    </div>
  </div>
</div>
<!-- *ngIf="nuevo" -->

