<main
  (mouseenter)="VerBoton()"
  (mouseleave)="VerBoton()"
>
  <nav class="flex flex-column gap-16 items-center mt-9">
    <button class="nav_button principal" (click)="Principal()">
      <span *ngIf="MostrarBoton"></span>
    </button>
    <Button class="nav_button Register" (click)="ListUser()">
      <span *ngIf="MostrarBoton"></span>
    </Button>
    <Button class="nav_button Team" (click)="Teams()">
      <span *ngIf="MostrarBoton"></span>
    </Button>
    <Button class="nav_button Notifi" (click)="Notifications()">
      <span *ngIf="MostrarBoton"></span>
    </Button>
    <Button class="nav_button Info" (click)="Information()">
      <span *ngIf="MostrarBoton"></span>
    </Button>
    <Button
      class="nav_button LogOut absolute w-[73%] bottom-2"
      (click)="LogOut()"
    >
      <span *ngIf="MostrarBoton"></span>
    </Button>
  </nav>
</main>

<style>
  .nav_button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: burlywood;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .principal {
    background-image: url(../../../assets/icon/Home.svg);
  }

  .Register {
    background-image: url(../../../assets/icon/Register.svg);
  }

  .Team {
    background-image: url(../../../assets/icon/Team.svg);
  }

  .Notifi {
    background-image: url(../../../assets/icon/Notificacion.svg);
  }

  .Info {
    background-image: url(../../../assets/icon/Info.svg);
  }

  .LogOut {
    background-image: url(../../../assets/icon/LogOut.svg);
  }
</style>

<!--
*ngIf="validarOpera || validarAdmin"
*ngIf="validarAdmin"
*ngIf="validarAdmin"
*ngIf="validarOpera || validarAdmin"
*ngIf="validarOpera || validarAdmin"
*ngIf="validarOpera || validarAdmin"
-->
