<main class="flex flex-column items-center justify-center w-full h-[100vh] p-8">
  <header class="flex justify-center w-full">
    <img
      class="relative top-[52px] w-[20%]"
      src="../../../../assets/img/Header.png"
      alt="logo"
    />
  </header>

  <div
    class="flex flex-column items-center justify-center h-full w-[45%] p-4 rounded-lg bg-[#FBFBF1]"
  >
    <h1 class="text-6xl font-semibold mt-2">Iniciar sesion</h1>

    <form class="flex flex-column w-full gap-[20px] p-4">
      <label for="email" class="text-black ml-1 font-light">Correo</label>
      <input
        class="email -mt-[15px] bg-[#ededec] rounded-md p-3"
        id="email"
        name="email"
        type="email"
        [(ngModel)]="usuario.correo"
        required
        placeholder="Ingrese su correo"
      />

      <label for="passoword" class="text-black ml-1 font-light"
        >Contraseña</label
      >
      <input
        class="password -mt-[15px] bg-[#ededec] rounded-md p-3"
        id="password"
        name="password"
        [type]="ChangeType ? 'password' : 'text'"
        [(ngModel)]="usuario.contrasena"
        required
        placeholder="Ingrese su contraseña"
      />

      <div>
        <label for="viewpass" class="text-black flex items-center ml-[5px]">
          <input
            id="viewpass"
            name="viewpass"
            class="w-4 h-4 mr-1 cursor-pointer"
            type="checkbox"
            (click)="viewpass()"
          />
          Mostrar contraseña
        </label>
      </div>

      <input
        (click)="IniciarSesion()"
        class="text-white text-[22px] rounded-lg bg-[#1e512c] w-full p-1"
        type="submit"
        value="Acceder"
      />
    </form>
  </div>
</main>
