<main class="w-full h-[90vh] bg-[#D9D9D9] bg-opacity-[25%] rounded-l-xl p-4">
  <h1 class="text-4xl font-bold text-[#004438]">Informacion de usuario</h1>
  <article class="flex items-center justify-center">
    <section
      class="sec-grid text-lg p-3 bg-[#FFFFFF] rounded-xl w-[670px] mt-8"
    >
      <div class="text-white text-center bg-[#014F41] rounded-[50%] w-40 h-40">
        K
      </div>

      <div class="flex flex-col gap-8">
        <div class="flex gap-14">
          <p class="text-[#00214D] font-bold text-xl">
            Nombre {{ personalog.nombre1 }}
          </p>
          <Button
            class="w-40 h-7 p-1 text-sm text-white rounded-lg bg-[#00214D]"
            (click)="changeVisibility(true)"
            >Cambiar contraseña</Button
          >
        </div>

        <div class="flex gap-14">
          <p class="text-black text-[16px] opacity-[50%]">
            Segundo nombre {{ personalog.nombre2 }}
          </p>
          <p class="text-black text-[16px] opacity-[50%]">
            Apellido {{ personalog.apellido1 }}
          </p>
          <p class="text-black text-[16px] opacity-[50%]">
            Segundo apellido {{ personalog.apellido2 }}
          </p>
        </div>

        <div class="flex gap-14">
          <p class="text-[#014F41] text-[13px]">
            Rol {{ personalog.idRol.nombre_rol }}
          </p>
          <p class="text-[#014F41] text-[13px]">
            Estados {{ personalog.idEstado.nombre_estado }}
          </p>
          <p class="text-black text-[16px] opacity-[50%]">
            Correo {{ personalog.correo }}
          </p>
        </div>
      </div>
    </section>
  </article>
  <app-camb-contra
    *ngIf="visibility"
    class="fixed inset-0 bg-black bg-opacity-50 z-[100]"
    (eventState)="changeVisibility($event)"
  />
</main>
