<div class="text-center w-full h-[100vh] flex justify-center items-center">
  <main class="rounded-xl bg-[#FBFCF1] bg-opacity-[0.5]">
    <article class="p-3 bg-[#FBFCF1] rounded-xl">
      <h1>Personal information</h1>
      <section class="text-lg text-start p-3">
        <ul class="personal-details">
          <li>Nombre: {{ personalog.nombre1 }}</li>
          <li>Segundo nombre: {{ personalog.nombre2 }}</li>
          <li>Apellido: {{ personalog.apellido1 }}</li>
          <li>Segundo apellido: {{ personalog.apellido2 }}</li>
          <li>Correo: {{ personalog.correo }}</li>
          <li>Rol: {{ personalog.rol }}</li>
          <li>Estados: {{ personalog.estado }}</li>
        </ul>
      </section>

      <Button
        class="w-40 h-7 p-1 text-sm text-white rounded-lg bg-[#00214D]"
        (click)="CambContra()"
      >
        Cambiar contraseña
      </Button>
    </article>
  </main>
</div>
