@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  backdrop-filter: blur(10px);
  background-image: url(./assets/img/Background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;  
}
