<main class="px-10 py-4 bg-[#D9D9D9] bg-opacity-[25%]">
  <Label for="listTeam" class="text-3xl text-[#004438] font-bold mb-3"
    >Listado de equipos</Label
  >

  <div class="flex justify-between mb-3">
    <div class="flex items-center">
      <input
        class="w-[546px] h-60px rounded-[50px] text-lg py-2 px-4"
        placeholder="Buscar..."
        type="text"
      />

      <button class="w-[27px] h-[27px] -ml-10 relative">
        <img src="../../../../../assets/icon/Search.svg" alt="" />
      </button>
    </div>

    <button
      class="text-white text-[20px] font-semibold bg-[#014F41] w-[219px] h-[50px] rounded-[50px] p-2"
      (click)="newTeam(true)"
    >
      + AGREGAR
    </button>
  </div>

  <div class="h-[428px] overflow-y-auto">
    <table class="w-full bg-white rounded-lg overflow-hidden">
      <thead
        class="h-4 text-center text-xl font-semibold text-[#00214D] bg-[#D9D9D9] bg-opacity-[56%]"
      >
        <th>Nombre</th>
        <th>Num Integrantes</th>
        <th>Estado</th>
        <th>Accion</th>
      </thead>
      <tbody class="text-xl">
        <tr
          class="text-center"
          *ngFor="let equipo of verequipo"
          (click)="this.equipoSelect = equipo"
          [ngClass]="{ seleccionado: equipoSelect == equipo }"
        >
          <td>{{ equipo.nombre_equipo }}</td>
          <td>{{ equipo.NumIntegrantes }}</td>
          <td>{{ equipo.estados.nombre_estado }}</td>
          <td>
            <button
              [disabled]="equipoSelect.nombre_equipo == '' ? true : false"
              (click)="modTeam(true)"
            >
              <img
                src="../../../../../assets/icon/modificar.svg"
                alt="Modify"
              />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-register-team
    class="fixed inset-0 bg-black bg-opacity-50 z-[100]"
    *ngIf="visibilityRT"
    (changeStateRT)="newTeam($event)"
  />

  <app-modequipo
  class="fixed inset-0 bg-black bg-opacity-50 z-[100]"
  *ngIf="visibilityMT"
  (changeStateMT)="modTeam($event)"
  />
</main>
