<main class="w-full h-[100vh] p-10 bg-[#FBFCF1] bg-opacity-[0.5]">
  <form class="flex justify-center items-center">
    <fieldset class="flex flex-column">
      <label class="text-lg mx-2" for="nombre">Nombre</label>
      <input
        [(ngModel)]="nuevoEquipo.nombre"
        class="w-30 p-1 mx-2 mb-2 rounded-lg"
        name="nombre"
        id="nombre"
      />
    </fieldset>

    <!-- <fieldset class="flex flex-column">
      <label class="text-lg mx-2" for="descripcion">Descripción </label>
      <input
        [(ngModel)]="nuevoEquipo.descripcion"
        class="w-40 p-1 mx-2 mb-2 rounded-lg"
        name="descripcion"
        id="descripcion"
      />
    </fieldset> -->

    <fieldset class="flex flex-column">
      <label class="text-lg mx-2" for="estado">Estado</label>
      <select
        class="w-40 p-1 mx-2 mb-2 rounded-lg"
        name="id_estado"
        id="id_estado"
        [(ngModel)]="nuevoEquipo.estado"
      >
        <option
          *ngFor="let estado of verestado"
          [value]="estado.id_estado"
          selected="estado === id_estado"
        >
          {{ estado.nombre }}
        </option>
      </select>
    </fieldset>
  </form>

  <div class="w-full text-center bg-white rounded-lg px-2 overflow-y-auto">
    <table class="w-full h-full rounded-lg my-2">
      <thead>
        <tr>
          <th class="text-lg px-3 pb-3">Nombre</th>
          <!-- <th>Descripcion</th> -->
          <th class="text-lg px-3 pb-3">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let equipo of verequipo"
          (click)="this.equipoSelect = equipo"
          [ngClass]="{ seleccionado: equipoSelect == equipo }"
        >
          <td class="text-lg px-3 pb-3">{{ equipo.nombre }}</td>
          <td class="text-lg px-3 pb-3">{{ equipo.descripcion }}</td>
          <td class="text-lg px-3 pb-3">{{ equipo.estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p *ngIf="msgValidarCamp">No puedes papalindo</p>

  <div class="w-full p-2 mt-2 flex justify-center">
    <button
      class="text-white text-lg w-36 p-2 rounded-lg bg-[#1e512c] mx-12"
      (click)="AgregarEquipo()"
    >
      Agregar
    </button>
    <button
      class="text-white text-lg w-36 p-2 rounded-lg bg-[#1e512c] mx-12"
      [disabled]="equipoSelect.nombre == '' ? true : false"
      (click)="modEquipo()"
    >
      Modificar
    </button>
  </div>
</main>

<style>
  th,
  td {
    border-bottom: 1px solid black;
  }

  .seleccionado {
    border: 4px solid green;
    background-color: green;
  }
</style>
