<main class="w-full h-[85vh] flex justify-center items-center">
  <form
    class="w-[450px] h-[310px] bg-[#FFFFFF] p-8 rounded-[20px]"
    method="post"
  >
  <h1 class="text-4xl font-bold mb-3 text-[#014F41]">Registro de equipo</h1>
  <div class="flex flex-col gap-1">
    <label class="text-lg mx-2" for="nombre_equipo">Nombre del equipo</label>
    <input
      [(ngModel)]="nuevoEquipo.nombre_equipo"
      class="w-[385px] h-[35px] p-2 rounded-lg border"
      name="nombre_equipo"
      id="nombre_equipo"
    />

    <label class="text-lg mx-2" for="intg">Numero de integrantes</label>
    <input
      class="rounded-lg border w-[385px] h-[35px] p-1 cursor-pointer"
      [(ngModel)]="nuevoEquipo.NumIntegrantes"
      name="NumIntegrantes"
      id="NumIntegrantes"
    >
  </div>

    <div class="flex justify-evenly mt-3">
      <button
        class="text-xl text-white bg-[#00214D] w-[160px] h-[26] rounded-lg p-2"
        (click)="closeRT()"
      >
        Cancelar
      </button>

      <button
        class="text-xl text-white bg-[#014F41] w-[160px] h-[26] rounded-lg p-2"
        (click)="addTeam()"
      >
        Registrar
      </button>
    </div>
  </form>
</main>
