<label class="text-lg mx-2" for="nombre">Nombre</label>
  <input
    [(ngModel)]="nuevoEquipo.nombre_equipo"
    class="w-30 p-1 mx-2 mb-2 rounded-lg"
    name="nombre"
    id="nombre"
  />

  <label class="text-lg mx-2" for="estado">Estado</label>
  <select
    class="w-40 p-1 mx-2 mb-2 rounded-lg"
    name="id_estado"
    id="id_estado"
    [(ngModel)]="nuevoEquipo.estado"
  >
    <option
      *ngFor="let estado of verestado"
      [value]="estado.id_estado"
      selected="estado === id_estado"
    >
      {{ estado.nombre_estado }}
    </option>
  </select>

  <button
  class="text-white text-[20px] font-semibold bg-[#014F41] w-[219px] h-[50px] rounded-[50px] p-2"
  (click)="AgregarEquipo()"
>
  + AGREGAR
</button>
